block content
  section
    .jumbotron.jumbotron-fluid
      .container
        .text-center
          h1.display-2 Contact
          hr
          p.lead Menő google maps iframe implementtel
  section
    .container-fluid.map
      .row
        .col-6.offset-2
          iframe(src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAhW6mPFWdr4G54Umwtylyy9qYSJ6W3-P8&q=Training360" width="900" height="400" frameborder="0" style="border:0" allowfullscreen="")
  section
    .container-fluid.fix
      .col-8.offset-2
        h2 Elérhetőségeim
        p Mint említettem, a bal felső sarokban található gomb a facebook profilomra navigál, 
          | valamint a felettünk lévő szekcióban fellelhető Istenkirály googlemaps iframeben a yellow 
          | irodáját találod. Ha esetleg ez nem lenne elég, úgy elérsz máshol is!
        p További elérhetőségeim:
        ul
          li Telefon: +36/30-7256-107
          li Email: 
            a(href="mailto:richard.kecskes95@gmail.com") richard.kecskes95@gmail.com
  section
    .container-fluid.footer
      .col-4.offset-4.text-center
        p &copy; Copyright 2018 ARK Ltd. All rights reserved.