block content
  section
    .jumbotron.jumbotron-fluid
      .container
        .text-center
          h1.display-2 Profile
          hr
          p.lead
            | Engedd meg hogy a következőkben bemutatkozzak.
  section
    .container-fluid.first
      .row
        .col-3.offset-2
          img.img-fluid(src="../../assets/images/me.jpg" alt="me")
        .col-4.offset-1#selfintro.text-justify
          p A nevem Kecskés Richárd, 22 éves vagyok és Budapesten születtem. 
            | Érdemes tudni rólam, hogy nagy sportrajongó vagyok, főként a labdarúgás, ami igazán érdekel.
            | Középiskolás koromtól kezdve játszom egy amatőr futsal csapatnál, hátvédként kezdtem, később 
            | átszakosodtam a kapus posztra. A sport mellett a számítástechnikában lelem hasonlóan 
            | örömömet. Mindig is érdekelt a programozás, emiatt is jelentkeztem erre a képzésre. 
            | Ennek köszönhető, hogy most itt állok, szerencsétlenül. :)
  section
    .container-fluid.fix
      .col-8.offset-2.second.text-center
        p Amennyiben kérdésed merülne fel a látottakkal kapcsolatban, a bal felső sarokban látod a nevemet, 
          | ami egyben a facebook oldalam linkje is, jelölj bátran. ;)
  section
    .container-fluid.footer
      .col-4.offset-4.text-center
        p &copy; Copyright 2018 ARK Ltd. All rights reserved.