block content
  section
    .jumbotron.jumbotron-fluid
      .container
        .text-center
          h1.display-2 Knowledge
          hr
          p.lead
            | Tudástár, amiből gazdálkodhattam a projekt során
  section
    .container-fluid.fix
      .col-10.offset-1
        h2.text-center Mongoose, MongoDB
        hr
        p.text-justify Elég nehezen barátkozom velük, nehezen dolgozom fel, hogy mit hogyan kéne megoldani, 
          | ez azt hiszem látszik is a munkámon. 
        br
        h2.text-center PUG template
        hr
        p.text-justify Első látásra szimpatikus nyelv, viszonylag egyszerű is a használata, rengeteg html2pug fordító 
          | áll rendelkezésre, így nincs is nehéz dolgom. Ennek ellenére nehezen dolgoztam vele, mivel a 
          | loader nem volt hajlandó működni, így ezt az egészet most egy olyan doksiban írom, ami egyébként 
          | nem része a beadott munkámnak, pusztán azért használom, hogy egyáltalán lássam, mit csinálok. 
        h2.text-center Authentication (sign in/out)
        hr
        p.text-justify Ugyan jelen voltam amikor a kódot írtuk, mégsem értem teljesen a működését, ami látszik is, 
          | lévén hogy nem tudtam alkalmazni az oldalon.
  section
    .container-fluid.footer
      .col-4.offset-4.text-center
        p &copy; Copyright 2018 ARK Ltd. All rights reserved.