.jumbotron {
  background: linear-gradient(to left, rgb(33, 167, 190), rgb(44, 199, 147), #67d31f, #d1c413);
  margin: 0;
  color: white;
}

.footer {
  background: rgb(47, 48, 47);
  color: white;
  font-size: 12px;
  padding: 2vh 0 1vh;
}
